---
---

// ######
// MIXINS
// ######

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin text-shadow($shadow) {
    -moz-text-shadow: $shadow;
    -webkit-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin animate($animation) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

// #######
// GENERAL
// #######

html, body {
    font-family: "Proxima-Nova", sans-serif;
}

// ##########
// NAVIGATION
// ##########

.navbar-default {
    background-color: transparent;
    border: 0px;
    min-height: 72px;

    .navbar-brand {
        height: 72px;

        img {
            height: 42px;
        }
    }

    .navbar-nav>li>a {
        color: #000;

        @media(min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }

    .navbar-nav>li:hover, .navbar-nav>li:active {
        color: #000;
        background-color: #e7e7e7;
    }

    .navbar-toggle {
        border-radius: 50%;
        padding: 14px 10px;
        margin-top: 14px;
        margin-bottom: 14px;
        background-color: black;
        border: 0px;
        @include transition(all 0.3s);

        .icon-bar {
            background-color: white;
        }
        
        .mobile-expand {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 350px;
            height: 350px;
            background-color: black;
            border-bottom-left-radius: 100%;
            @include transition(all 0.3s);
            z-index: -1;
        }
    }
    
    .navbar-toggle.collapsed {
        .mobile-expand {
            width: 0px;
            height: 0px;
        }
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #454545;
    }

    @media(max-width: 767px) {
        .navbar-collapse {
            text-align: right;
            border: 0px;
            box-shadow: none;
        }
        
        .dropdown {
            overflow: hidden;
            
            .dropdown-menu {
                display: block;
                position: static;
                text-align: right;
                background-color: transparent;
            }
            
            .dropdown-menu > li > a {
                color: white;
            }
            
            .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
                background-color: transparent;
            }
        }
        
        .navbar-nav > li > a {
            color: white;
        }
        
        .navbar-nav > li:hover, .navbar-nav > li:active {
            background-color: transparent;
            
            a {
                color: white;
            }
        }
    }
}

@media(min-width: 992px) {
    .navbar-default {
        min-height: 96px;

        .navbar-brand {
            height: 96px;

            img {
                height: 66px;
            }
        }

        .navbar-nav>li>a {
            padding-top: 38px;
            padding-bottom: 38px;
        }
    }
}

.dropdown {

    .dropdown-menu {
        min-width: 0px;
        width: 100%;
        border: 0px;
        padding: 0px;
        background-color: #e7e7e7;
        box-shadow: none;

        li>a {
            padding: 3px 15px;
        }
    }

    .asili-dropdown-toggle:hover ~ .dropdown-menu {
        display: block;
    }

    .dropdown-menu:hover {
        display: block;
    }
}

// #########
// UTILITIES
// #########

.theme-bg {
    background-color: {{ site.color-background }};
}

h4.section-title {
    margin-bottom: 25px;
}

// ###########
// GRID LAYOUT
// ###########

.asili-grid {
    position: relative;
}

.asili-grid-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .asili-grid-half {
        display: flex;
    }

    .asili-grid-full-page {
        width: 100vw;
        height: 100vh;
    }
}

.asili-grid-full-height {
    min-height: 100vh;
}

.asili-grid-content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.asili-grid-content-image {
    opacity: 0;
    background-size: cover;
    background-position: 50% 50%;
    @include transition(opacity 1s);

    img {
        display: none;
    }
}

.asili-grid-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;

    .text-wrapper {
        margin: 2.5vw;
        margin-top: 100px;
    }
}

.asili-grid-content-video {
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}

.centered-caption-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .caption {
        color: white;
    }
}

main.landscape {
    .asili-grid-half {
        width: 50vw;
    }

    .asili-grid-full-height .asili-grid-content-carousel .slick-slide {
        height: 100vh;
    }

    .asili-grid-content-text {
        .text-wrapper-right {
            margin-right: 10vw;
        }
    }
}

main.portrait {
    .asili-grid-half {
        width: 100%;
        min-height: 50vh;
    }

    .asili-grid-full-height .asili-grid-content-carousel .slick-slide {
        height: 50vh;
    }
}

// #########
// CAROUSELS
// #########

.asili-grid-content-carousel {
    overflow: hidden;

    .slick-dots {
        bottom: 25px;
    }
}

.asili-grid-content-carousel:hover {
    .slick-prev {
        @include transform(translate(50px, -50%));
    }

    .slick-next {
        @include transform(translate(-50px, -50%));
    }
}

.slick-loading .slick-list {
    background: #fff url('ajax-loader.gif') center center no-repeat;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}

.slick-prev, .slick-next {
    @include transition(all 0.3s);
    font-size: 0;
    line-height: 0;

    z-index: 100;
    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    margin-bottom: 0px; // Bringing dots inside the carousel
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}
