---
---

// ######
// MIXINS
// ######

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin text-shadow($shadow) {
    -moz-text-shadow: $shadow;
    -webkit-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin animate($animation) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

// #######
// GENERAL
// #######

html, body {
    font-family: "Proxima-Nova", sans-serif;
}

// ##########
// NAVIGATION
// ##########

@media(min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

.navbar-header {
    width: 100%;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
    min-height: 72px;

    .navbar-brand {
        height: 72px;

        img {
            height: 42px;
        }
    }

    .navbar-toggle {
        border-radius: 50%;
        padding: 14px 10px;
        margin-top: 20px;
        margin-bottom: 8px;
        background-color: black;
        border: 0px;
        @include transition(all 0.3s);

        .icon-bar {
            background-color: white;
        }

        .nav-links {
            list-style-type: none;
            padding-left: 0px;
            position: absolute;
            right: 0px;
            top: 100%;
            text-align: right;
            @include transition(all 0.3s);
            max-height: 200px;
            margin: 0px;
            overflow: hidden;

            li {

                a {
                    display: block;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    @include transition(all 0.3s);
                }

                a:hover {
                    color: white;
                    text-decoration: none;
                    padding-right: 15px;
                }
            }
        }

        .mobile-expand {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            height: 500px;
            background-color: black;
            border-radius: 50%;
            @include transition(all 0.3s);
            @include transform(translate(-50%, -50%));
            z-index: -1;
        }
    }

    .navbar-toggle.collapsed {
        .mobile-expand {
            width: 0px;
            height: 0px;
        }

        .nav-links {
            max-height: 0px;
        }
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: black;
    }
}

@media(min-width: 992px) {
    .navbar-default {
        min-height: 96px;

        .navbar-brand {
            height: 96px;

            img {
                height: 66px;
            }
        }

        .navbar-toggle {
            padding: 21px 15px;
            margin-top: 28px;

            .icon-bar {
                width: 33px;
                height: 3px;
            }

            .icon-bar+.icon-bar {
                margin-top: 6px;
            }
        }
    }
}

// ########
// HOMEPAGE
// ########

.homepage-overlay {
    position: absolute;
    z-index: 30;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.homepage-overlay.homepage-overlay-right {
    left: 50%;
}

.homepage-overlay.homepage-overlay-left {
    right: 50%;
}

.homepage-overlay.centered-slash {
    z-index: 32;
    display: flex;
    align-items: center;
    justify-content: center;

    span.slash {
        font-size: 48px;
        color: black;
    }
}

.homepage-overlay.left-logo {
    right: 50%;
    z-index: 28;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span.left-logo-wrapper {
        padding-right: 20px;
        padding-bottom: 10px;
        
        img {
            height: 64px;
        }
    }
}

.homepage-overlay.right-description {
    left: 50%;
    z-index: 28;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span.description {
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        color: black;
    }
}

.homepage {
    .homepage-overlay-left, .homepage-overlay-right, .navbar-brand {
        opacity: 0;
    }
}

.homepage.frame-2 {
    .homepage-overlay-right {
        opacity: 1;
    }
}

.homepage.frame-3 {
    .homepage-overlay-right, .homepage-overlay-left, .navbar-brand {
        opacity: 1;
    }
}

.homepage.frame-4 {
    .homepage-overlay-left, .navbar-brand {
        opacity: 1;
    }
}

// #########
// UTILITIES
// #########


.image-background {
    background-size: cover;

    img {
        display: none;
    }
}

.fade-opacity {
    @include transition(opacity 1s);
}

.theme-bg {
    background-color: {{ site.color-background }};
}

h4.section-title {
    margin-bottom: 25px;
}

// ###########
// GRID LAYOUT
// ###########

.asili-grid {
    position: relative;
}

.asili-grid-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .asili-grid-half {
        display: flex;
    }

    .asili-grid-full-page {
        width: 100vw;
        height: 100vh;
    }
}

.asili-grid-full-height {
    min-height: 100vh;
}

.asili-grid-content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.asili-grid-content-image {
    opacity: 0;
    background-size: cover;
    background-position: 50% 50%;
    @include transition(opacity 1s);

    img {
        display: none;
    }
}

.asili-grid-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;

    .text-wrapper {
        margin: 2.5vw;
        margin-top: 100px;
    }
}

.asili-grid-content-video {
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}

main.landscape {
    .asili-grid-half {
        width: 50vw;
    }

    .asili-grid-full-height .asili-grid-content-carousel .slick-slide {
        height: 100vh;
    }

    .asili-grid-content-text {
        .text-wrapper-right {
            margin-right: 10vw;
        }
    }
}

main.portrait {
    .asili-grid-half {
        width: 100%;
        min-height: 50vh;
    }

    .asili-grid-full-height .asili-grid-content-carousel .slick-slide {
        height: 50vh;
    }
}

// #########
// CAROUSELS
// #########

.asili-grid-content-carousel {
    overflow: hidden;

    .slick-dots {
        bottom: 25px;
    }
}

.asili-grid-content-carousel:hover {
    .slick-prev {
        @include transform(translate(50px, -50%));
    }

    .slick-next {
        @include transform(translate(-50px, -50%));
    }
}

.slick-loading .slick-list {
    background: #fff url('ajax-loader.gif') center center no-repeat;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}

.slick-prev, .slick-next {
    @include transition(all 0.3s);
    font-size: 0;
    line-height: 0;

    z-index: 100;
    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    margin-bottom: 0px; // Bringing dots inside the carousel
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}
