<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button id="navigation-toggle" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <ul class="nav-links">
                    <li><a href="/aspiration/">Aspiration</a></li>
                    <li><a href="/materials/horn/">Horn</a></li>
                    <li><a href="/materials/soap-stone/">Soap Stone</a></li>
                    <li><a href="/materials/olive-wood/">Olive Wood</a></li>
                    <li><a href="/collaborations/">Collaborations</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
                <div class="mobile-expand"></div>
            </button>
            <a class="navbar-brand fade-opacity" href="/">
                <img src="/img/logo-500.png">
            </a>
        </div>
    </div>
</nav>